.a{
    background-color: lightblue;
    padding: 40px;
    font-family: cursive; 
    color: violet;
    
}
.b{
    background-color: lightgreen;
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    color: color-mix(in srgb, brown, red ,blue);
}
.c{
    background-color: lightgrey;
    padding: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}
